html {
  font-size: 68%;
}

nav {
  display: flex;
  background: rgb(166,159,159);
  background: linear-gradient(180deg, rgba(166,159,159,1) 0%, rgba(47,47,47,1) 4%, rgba(111,105,105,1) 95%);
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
  font-family: "Hot Pizza";
  font-size: 350%;
  color: white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  font-size: 1.4rem;
}

input,
select,
textarea {
  width: 100%;
  margin: 5px 0 0;
  display: block;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  background-color: rgb(255, 255, 255);
}

.error {
  font-size: 1.2rem;
  color: red;
}

select {
  height: 40px;
  width: 325px;
}

select:focus {
  outline: none;
  border-color: yellow;
}

input:focus {
  outline: none;
  border-color: yellow;
}

button {
  width: 150px;
  display: inline-block;
  padding: 8px 11px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  background-color: #e14d66;
  background-image: linear-gradient(to right, #e14d66, #e14d79);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-image: none;
  background-color: #c21230;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

button:disabled {
  background-image: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}